.filter{
   
justify-content: center;
width: 100%;
text-align: center;
margin-top: 50px;
border:none;

 /* gap: 30px; */

}
/* .filter-1{
    display: flex;
} */
.filter  h2{
    font-size: 30px;
    margin-bottom: 20px;

}
.filter-1{
    margin-bottom: 20px;

}
.filter-1 h4{
    font-size: 25px;
    margin-bottom: 10px;

}
.filter-2{
  display: flex;
 margin-left: 70px;
}
.filter-2 label{
    margin-left: 10px;
}