.checkoutContainer {
  border: 1px solid grey;
    width: 400px;
    padding: 20px;
    margin-left: 50px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #3F51B5;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }




