<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Add Product</h2>
    <form method="post">
        <input type="text" placeholder="Name of Product" name="title" />
        <input type="text" placeholder="Category" name="category" />
        <input type="text" placeholder="Description" name="description" />
        <input type="number" placeholder="Price" name="price" />
        <input type="text" placeholder="Avalability" name="avalability" />
        <input type="number" placeholder="Quantity" name="Number" />
        <button>Add</button>
    </form>
</body>

</html>