<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Admin dashboard</h2>
    <a href="/product">Product List</a>
    <a href="/create">Add Product</a>
    <a href="/update/:productID">Edit Product</a>
    <a href="/delete/:productID">Remove Product</a>
</body>
</html>