.mainbox{
    border: 1px solid red;
display: flex;
width: 98%;
margin: auto;
gap: 1%;
background-color: rgb(240, 237, 237);
color: #333333;
}

.filter{
    width: 29%;
    background-color: white;
    border: 1px solid rgb(255, 251, 0);
    padding: 2%; 
    text-align: left;
    gap: 1%;
}
.products{
    width: 70%;
    background-color: white;
    border: 1px solid rgb(0, 60, 255); 
}

.sortbtn{
    display: flex;
    gap: 5%;
    align-items: center;
    margin: auto;
    width: 90%;
}
.btns{
    border:0.5px solid rgb(223, 220, 220);
    border-radius: 8%;

    padding: 1%;
}
.btns:hover{
    border:0.5px solid rgb(54, 167, 54);
    color: rgb(54, 167, 54);
    background-color: white;
}

.showallproducts{
    margin-top: 3%;
   display: grid;
   grid-template-columns: repeat(3,1fr); 
}

.oneProd{
    background-color: white;
    border: 1px solid rgb(223, 220, 220);
}